.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #86868b;
    font-size: 12.5px;
    height: 200px;
    margin: 12px 0;
    font-family: 'Inter', sans-serif;
    padding: 0 30px;
    border: 1px solid #252525;

    @media (max-width: 1024px) {
        padding: 0 10px;
        height: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-left: 70px;

        @media (max-width: 1024px) {
            padding: 10px 0;
        }

        li {
            margin: 0 10px;
            padding: 5px 0;

            a {
                cursor: pointer;
            }

            span {
                font-weight: 700;
                color: #FFF;
            }
        }
    }
}

.footerLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    padding: 40px 0;

    @media (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 80px;
    }
}

.links {
    display: flex;

    @media (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        ul {
            margin-left: 0;
            padding-left: 0;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;

    @media (max-width: 1024px) {
        margin-bottom: 20px;
    }
}

.footerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;

    svg {
        color: #FFF;
    }
}