@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.header {
    position: absolute;
    top: 0;
    width: 100%;
}

.dashboardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 160px;
    justify-content: center;
}

.dashboardCard {
    border: 1px solid #252525;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    padding: 16px;
    margin: 9px 5px;
    flex: 0 0 32.333333%;
    font-family: 'Inter', sans-serif;

    @media (max-width: 1024px) {
        flex: 0 0 95%;
    }

    h2 {
        color: #86868b;
        font-size: 13px;
        margin-bottom: 15px;
    }
}

.dashboardCardNumber {
    font-size: 25.6px;
    margin-bottom: 10px;
    display: flex;
}

.aq1Quantity {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    color: #86868b;
    font-family: 'Inter', sans-serif;

    svg {
        height: 14px!important;
        width: 14px!important;
    }
}

.walletAddress {
    font-size: 13.5px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.icon {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    opacity: 0.1;
    svg {
        height: 80px!important;
        width: 80px!important;
    }
}

.dashboardCardSmall {
    border: 1px solid #252525;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    padding: 16px;
    margin: 9px 6px;
    flex: 0 0 18.99999999%;
    font-family: 'Inter', sans-serif;

    @media (max-width: 1024px) {
        flex: 0 0 95%;
    }

    h2 {
        color: #86868b;
        font-size: 13px;
        margin-bottom: 15px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    li {
        display: flex;
        font-size: 14.4px;
        margin: 4px 0;
        span {
            color: #fff;
            font-size: 13.4px;
        }
        p {
            color: #86868b;
            padding-left: 10px;
            font-size: 14.4px;
        }
    }
}

.positiveAmount, .negativeAmount {
    font-size: 14.5px;
    margin-left: 10px;
}

.positiveAmount {
    color: #26DA71;
    &:before {
        content: '+'
    }
}

.negativeAmount {
    color: rgb(222, 84, 84);
}