@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header {
    position: absolute;
    top: 12px;
    width: 98%;
}

.dashboardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 114px;
    justify-content: center;
    justify-content: space-between;
}

.dashboardCard {
    border: 1px solid #252525;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    padding: 16px;
    margin: 9px 0;
    flex: 0 0 32.333333%;
    font-family: 'Inter', sans-serif;

    @media (max-width: 1024px) {
        flex: auto;
        width: 100%;
    }

    h2 {
        color: #86868b;
        font-size: 13px;
        margin-bottom: 15px;
    }
}

.dashboardCardNumber {
    font-size: 25.6px;
    margin-bottom: 10px;
    display: flex;
    position: relative;

    svg {
        width: 12.6px;
        margin-right: 10px;
    }
}

.openNewTab {
    position: absolute;
    left: 60px;
    max-width: 20px;
    svg {
        width: 50px;
        height: 50px;
    }
}

.aq1Quantity {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    color: #86868b;
    font-family: 'Inter', sans-serif;

    svg {
        height: 14px!important;
        width: 14px!important;
    }
}

.walletAddress {
    font-size: 13.5px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.icon {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    opacity: 0.1;
    svg {
        height: 80px!important;
        width: 80px!important;
    }
}

.dashboardCardSmall {
    border: 1px solid #252525;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    padding: 16px;
    margin: 9px 0;
    flex: 0 0 18.99999999%;
    font-family: 'Inter', sans-serif;

    @media (max-width: 1024px) {
        flex: auto;
        width: 100%;
    }

    h2 {
        color: #86868b;
        font-size: 13px;
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start;
    }
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    li {
        display: flex;
        font-size: 14.4px;
        margin: 4px 0;
        span {
            color: #fff;
            font-size: 13.4px;
        }
        p {
            color: #86868b;
            padding-left: 10px;
            font-size: 14.4px;
        }
    }
}

.positiveAmount, .negativeAmount {
    font-size: 14.5px;
    margin-left: 10px;
}

.positiveAmount {
    color: #26DA71;
    &:before {
        content: '+'
    }
}

.negativeAmount {
    color: rgb(222, 84, 84);
}

.tooltip {
    font-size: 10px;
    margin-left: 7px;
    cursor: pointer;
}

.toolTipBallon {
    max-width: 300px;
    font-weight: 300;
}

.container {
    width: 98%;
    margin: 0 auto;
    overflow-y: hidden;
}

.address {
    display: flex;
    align-items: center;
    border: 1px solid #252525;
    flex: 0 0 32.333333%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    @media (max-width: 1024px) {
        flex: auto;
        width: 100%;
        margin: 8px 0;
    }
}

.addressLabel {
    border-right: 1px solid #252525;
    color: #86868b;
    font-size: 13px;
    padding: 18px 36px;
}

.tooltipAddress {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-left: 7px;
    cursor: pointer;
    justify-content: center;

    svg {
        margin-left: 8px;
        width: 17px;
    }
}

.toolTipBallonAddress {
    font-weight: 300;
    width: 500px;
}

.addressContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}