@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
  background-color: #15171A;
  width: 98%;
  height: 97vh;
  font-family: 'Inter', sans-serif;
  position: relative;
  border: 0.5px solid #1A1A1A;
  margin: 15px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94.5px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 0 30px;
  border-bottom: 0.5px solid #1A1A1A;

  a {
    transition: all .2s ease;

    &:hover {
        opacity: 0.3;
    }
  }
}

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  bottom: 0;
  height: 94.5px;
  border-top: 0.5px solid #1A1A1A;

  ul {
    list-style: none;

    li {
      cursor: pointer;
      padding: 5px 0;
      transition: all .2s ease;
      font-size: 16px;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}

.hidden {
  display: none;
}

.applyOpacity {
  opacity: 0.3;
}

.iconsSection {
  position: absolute;
  bottom: 32px;
  right: 40px;

  svg {
    fill: #fff
  }
}

.aboutMenu {
  position: absolute;
  bottom: 32px;
  left: 30px;
  font-size: 16px;

  ul {
    li {
      font-size: 16px;
    }
  }
}

.dashboardButton {
  color: #fff;
  padding: 15px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
      opacity: 0.3;
  }
}

.aq1Icon {
  position: relative;
}

.mainText {
  position: absolute;
  left: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 900px;
  height: fit-content;
  font-size: 72px;
  text-align: center;
  font-weight: 600;
  text-align: left;

  @media (max-width: 820px) {
    font-size: 35px;
    left: 10px;
    width: 320px;
  }
}

.toolTip {
  height: 94.5px;
  width: 400px;
}

.dashboardIcons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    background-color: #121212;
    height: 350px;
    width: 350px;
    margin: 0 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 40px;
    position: relative;

    a {
      font-size: 32px;
      font-weight: 500;
    }
  }
}

.arrow {
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}
